<!--begin::Page Vendor Stylesheets(used by this page)-->
<link href="/assets/plugins/custom/datatables/datatables.bundle.rtl.css" rel="stylesheet" type="text/css" />
<!--end::Page Vendor Stylesheets-->

<!--begin::Toolbar-->
<div class="toolbar py-2" id="kt_toolbar">
    <!--begin::Container-->
    <div id="kt_toolbar_container" class="container-fluid d-flex align-items-center">
        <!--begin::Page title-->
        <div class="flex-grow-1 flex-shrink-0 me-5">
            <!--begin::Page title-->
            <div class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                <!--begin::Title-->
                <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">المبيعات
                    <!--begin::Separator-->
                    <span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
                    <!--end::Separator-->
                    <!--begin::Description-->
                    <small class="text-muted fs-7 fw-bold my-1 ms-1">طلبية جديدة</small>
                    <!--end::Description-->
                </h1>
                <!--end::Title-->
            </div>
            <!--end::Page title-->
        </div>
        <!--end::Page title-->


    </div>
    <!--end::Container-->
</div>
<!--end::Toolbar-->

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">

    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">

            <div class="row">
                <div class="col-md-6">
                    <!--begin::Card-->
                    <div class="card">
                        <!--begin::Card header-->
                        <div class="card-header border-0 pt-6">
                            <!--begin::Card title-->
                            <div class="card-title">
                                <!--begin::Search-->
                                <div class="d-flex align-items-center position-relative my-1">
                                    <h1>طلبية مسبقة</h1>
                                </div>
                                <!--end::Search-->
                            </div>
                            <!--begin::Card title-->

                        </div>
                        <!--end::Card header-->
                        <!--begin::Card body-->
                        <div class="fv-row mb-7 fv-plugins-icon-container modal-body py-3 px-lg-10">
                            <!--begin::Label-->
                            <label class="required fs-6 fw-bold mb-2">رقم الفاتورة</label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input id="edit_order_serial_number" class="form-control form-control-solid" type="text">
                            <!--end::Input-->
                            <div class="fv-plugins-message-container invalid-feedback">
                            </div>
                        </div>
                        <div id="editOrder" class="d-none">
                            <!--begin::Form-->
                            <form class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#"
                                id="kt_modal_edit_order_form" autocomplete="off">

                                <!--begin::Modal body-->
                                <div class="modal-body py-3 px-lg-10" id="kt">
                                    <!--begin::Scroll-->
                                    <div class=" me-n7 pe-7">
                                        <div id="select" class="fv-row mb-7 fv-plugins-icon-container">
                                            <!--begin::Label-->
                                            <label class="required fs-6 fw-bold mb-2">الزبون</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input type="text" name="edit_customer" id="edit_customer"
                                                class="form-control form-control-solid" readonly>

                                            </select>
                                            <!--end::Input-->
                                            <div class="fv-plugins-message-container invalid-feedback"></div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="fv-row mb-7 fv-plugins-icon-container">
                                                    <!--begin::Label-->
                                                    <label class="required fs-6 fw-bold mb-2">سيريال المنتج</label>
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <input type="text" id="edit_product_serial_Number"
                                                        class="form-control form-control-solid">
                                                    <!--end::Input-->
                                                    <div class="fv-plugins-message-container invalid-feedback">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="fv-row mb-7 fv-plugins-icon-container">
                                                    <!--begin::Label-->
                                                    <label class="required fs-6 fw-bold mb-2">اسم الصنف</label>
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <select name="edit_products" id="edit_products"
                                                        class="form-select form-select-solid fw-bolder productsList"
                                                        data-placeholder="أختر...">
                                                        <option></option>


                                                    </select>

                                                    <!--end::Input-->
                                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="fv-row mb-7 fv-plugins-icon-container">
                                                    <!--begin::Label-->
                                                    <label class="required fs-6 fw-bold mb-2">الخصم</label>
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <input type="number" value="0" id="edit_discount"
                                                        name="edit_discount" class="form-control form-control-solid">
                                                    <!--end::Input-->
                                                    <div class="fv-plugins-message-container invalid-feedback">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="fv-row mb-7 fv-plugins-icon-container">
                                                    <!--begin::Label-->
                                                    <label class="required fs-6 fw-bold mb-2">المبلغ المدفوع</label>
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <input type="number" value="0" id="edit_paid_amount"
                                                        name="edit_paid_amount" class="form-control form-control-solid"
                                                        readonly>
                                                    <!--end::Input-->
                                                    <div class="fv-plugins-message-container invalid-feedback">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="scroll-y" id="table" id="kt_modal_edit_order_scroll"
                                            data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                                            data-kt-scroll-max-height="auto"
                                            data-kt-scroll-dependencies="#kt_modal_edit_order_header"
                                            data-kt-scroll-wrappers="#kt_modal_edit_order_scroll"
                                            data-kt-scroll-offset="300px" style="max-height: 647px;">
                                            <!--begin::Table-->
                                            <table class="text-center table align-middle table-row-dashed fs-6 gy-5"
                                                id="edit_order_table">
                                                <!--begin::Table head-->
                                                <thead>
                                                    <!--begin::Table row-->
                                                    <tr class="text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                                        <th>المنتج</th>
                                                        <th style="width: 20%;">الكمية</th>
                                                        <th style="width: 20%;">السعر</th>
                                                        <th>المجموع</th>
                                                        <th>خيارات</th>
                                                    </tr>
                                                    <!--end::Table row-->
                                                </thead>
                                                <!--end::Table head-->
                                                <tbody id="edit_order_tbody">

                                                </tbody>


                                            </table>
                                            <!--end::Table-->

                                        </div>


                                    </div>
                                    <!--end::Scroll-->
                                </div>
                                <!--end::Modal body-->
                                <!--begin::Modal footer-->
                                <div class="modal-footer">
                                    <table class="text-center table align-left table-row-dashed fs-6 gy-5">

                                        <tr class="align-top fw-bolder text-gray-700">
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th class="fs-5 left-td">الإجمالي</th>
                                            <th id="edit_total_price_result">0 شيكل</th>
                                        </tr>
                                        <tr class="align-top fw-bolder text-gray-700">
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th class="fs-5 left-td text-danger">الخصم</th>
                                            <th class="text-danger" id="edit_discount_amount_result">0 شيكل</th>
                                        </tr>

                                        <tr class="align-top fw-bolder text-gray-700">
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th class="fs-5 left-td text-success">مطلوب للدفع</th>
                                            <th class="text-success" id="edit_total_amount_result">0 شيكل</th>
                                        </tr>
                                        <tr class="align-top fw-bolder text-gray-700">
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th class="fs-5 left-td">المدفوع</th>
                                            <th id="edit_paid_amount_result">0 شيكل</th>
                                        </tr>
                                        <tr class="align-top fw-bolder text-gray-700">
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th class="fs-5 left-td">المسترد</th>
                                            <th id="edit_paid_amount_back_result">0 شيكل</th>
                                        </tr>
                                        <style>
                                            .left-td {
                                                text-align: left;
                                            }
                                        </style>
                                    </table>
                                </div>


                                <div class="modal-footer flex-center">

                                    <!--begin::Button-->
                                    <button type="reset" id="kt_modal_edit_order_cancel"
                                        class="btn btn-light me-3">إلغاء</button>
                                    <!--end::Button-->
                                    <!--begin::Button-->
                                    <button type="submit" id="kt_modal_edit_order_submit" class="btn btn-primary">
                                        <span class="indicator-label">حفظ</span>
                                        <span class="indicator-progress">الرجاء الإنتظار...
                                            <span
                                                class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                    </button>
                                    <!--end::Button-->
                                </div>
                                <!--end::Modal footer-->
                            </form>
                            <!--end::Form-->
                        </div>

                        <!--end::Card body-->
                    </div>
                    <!--end::Card-->
                </div>
                <div class="col-md-6">
                    <!--begin::Card-->
                    <div class="card">
                        <!--begin::Card header-->
                        <div class="card-header border-0 pt-6">
                            <!--begin::Card title-->
                            <div class="card-title">
                                <!--begin::Search-->
                                <div class="d-flex align-items-center position-relative my-1">
                                    <h1>طلبية جديدة</h1>
                                </div>
                                <!--end::Search-->
                            </div>
                            <!--begin::Card title-->
                        </div>
                        <!--end::Card header-->
                        <!--begin::Card body-->
                        <div id="newOrder">
                            <!--begin::Form-->
                            <form class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#"
                                id="kt_modal_add_order_form" data-kt-redirect="/order/new" autocomplete="off">

                                <!--begin::Modal body-->
                                <div class="modal-body py-3 px-lg-10" id="kt">
                                    <!--begin::Scroll-->
                                    <div class=" me-n7 pe-7">


                                        <div id="select" class="fv-row mb-7 fv-plugins-icon-container">
                                            <!--begin::Label-->
                                            <label class="required fs-6 fw-bold mb-2">الزبون</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <select name="customer" aria-label="اختار الزبون" data-control="select2"
                                                id="type2" data-placeholder="نوع الزبون"
                                                class="form-select form-select-solid fw-bolder">
                                                <% customers.forEach(customer=> { %>
                                                    <% if (customer.type=='public' ) { %>
                                                        <option selected value="public">
                                                            <%= customer.name %>
                                                        </option>
                                                        <% } else { %>
                                                            <option value="<%= customer._id  %>">
                                                                <%= customer.name %>
                                                            </option>
                                                            <% } %>


                                                                <% }) %>
                                            </select>
                                            <!--end::Input-->
                                            <div class="fv-plugins-message-container invalid-feedback"></div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="fv-row mb-7 fv-plugins-icon-container">
                                                    <!--begin::Label-->
                                                    <label class="required fs-6 fw-bold mb-2">سيريال المنتج</label>
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <input type="text" id="productSerialNumber"
                                                        class="form-control form-control-solid">
                                                    <!--end::Input-->
                                                    <div class="fv-plugins-message-container invalid-feedback">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="fv-row mb-7 fv-plugins-icon-container">
                                                    <!--begin::Label-->
                                                    <label class="required fs-6 fw-bold mb-2">اسم الصنف</label>
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <select name="products" id="products"
                                                        class="form-select form-select-solid fw-bolder productsList"
                                                        data-placeholder="أختر...">
                                                        <option></option>


                                                    </select>

                                                    <!--end::Input-->
                                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="fv-row mb-7 fv-plugins-icon-container">
                                                    <!--begin::Label-->
                                                    <label class="required fs-6 fw-bold mb-2">الخصم</label>
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <input type="number" value="0" name="new_discount" id="new_discount"
                                                        class="form-control form-control-solid">
                                                    <!--end::Input-->
                                                    <div class="fv-plugins-message-container invalid-feedback">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="fv-row mb-7 fv-plugins-icon-container">
                                                    <!--begin::Label-->
                                                    <label class="required fs-6 fw-bold mb-2">المبلغ المدفوع</label>
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <input type="number" value="0" id="new_paid_amount"
                                                        name="new_paid_amount" class="form-control form-control-solid">
                                                    <!--end::Input-->
                                                    <div class="fv-plugins-message-container invalid-feedback">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="scroll-y" id="table" id="kt_modal_add_order_scroll"
                                            data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                                            data-kt-scroll-max-height="auto"
                                            data-kt-scroll-dependencies="#kt_modal_add_order_header"
                                            data-kt-scroll-wrappers="#kt_modal_add_order_scroll"
                                            data-kt-scroll-offset="300px" style="max-height: 647px;">
                                            <!--begin::Table-->
                                            <table class="text-center table align-middle table-row-dashed fs-6 gy-5"
                                                id="order_table">
                                                <!--begin::Table head-->
                                                <thead>
                                                    <!--begin::Table row-->
                                                    <tr class="text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                                        <th>المنتج</th>
                                                        <th style="width: 20%;">الكمية</th>
                                                        <th style="width: 20%;">السعر</th>
                                                        <th>المجموع</th>
                                                        <th>خيارات</th>
                                                    </tr>
                                                    <!--end::Table row-->
                                                </thead>
                                                <!--end::Table head-->
                                                <tbody id="orderTbody">

                                                </tbody>


                                            </table>
                                            <!--end::Table-->

                                        </div>


                                    </div>
                                    <!--end::Scroll-->
                                </div>
                                <!--end::Modal body-->
                                <!--begin::Modal footer-->
                                <div class="modal-footer">
                                    <table class="text-center table align-left table-row-dashed fs-6 gy-5">

                                        <tr class="align-top fw-bolder text-gray-700">
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th class="fs-5 left-td">الإجمالي</th>
                                            <th id="new_total_price_result">0 شيكل</th>
                                        </tr>
                                        <tr class="align-top fw-bolder text-gray-700">
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th class="fs-5 left-td text-danger">الخصم</th>
                                            <th class="text-danger" id="new_discount_amount_result">0 شيكل</th>
                                        </tr>

                                        <tr class="align-top fw-bolder text-gray-700">
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th class="fs-5 left-td text-success">مطلوب للدفع</th>
                                            <th class="text-success" id="new_total_amount_result">0 شيكل</th>
                                        </tr>
                                        <tr class="align-top fw-bolder text-gray-700">
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th class="fs-5 left-td">المدفوع</th>
                                            <th id="new_paid_amount_result">0 شيكل</th>
                                        </tr>
                                        <tr class="align-top fw-bolder text-gray-700">
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th class="fs-5 left-td">المسترد</th>
                                            <th id="new_paid_amount_back_result">0 شيكل</th>
                                        </tr>
                                        <style>
                                            .left-td {
                                                text-align: left;
                                            }
                                        </style>
                                    </table>
                                </div>


                                <div class="modal-footer flex-center">

                                    <!--begin::Button-->
                                    <button type="reset" id="kt_modal_add_order_cancel"
                                        class="btn btn-light me-3">إلغاء</button>
                                    <!--end::Button-->
                                    <!--begin::Button-->
                                    <button type="submit" id="kt_modal_add_order_submit" class="btn btn-primary">
                                        <span class="indicator-label">حفظ</span>
                                        <span class="indicator-progress">الرجاء الإنتظار...
                                            <span
                                                class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                    </button>
                                    <!--end::Button-->
                                </div>
                                <!--end::Modal footer-->
                            </form>
                            <!--end::Form-->
                        </div>

                        <!--end::Card body-->
                    </div>
                    <!--end::Card-->
                </div>
            </div>



        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->


</div>
<!--end::Content-->

<!--begin::Global Javascript Bundle(used by all pages)-->
<script src="/assets/plugins/global/plugins.bundle.js"></script>
<script src="/assets/js/scripts.bundle.js"></script>
<!--end::Global Javascript Bundle-->

<script>
    $('.productsList').select2({
        ajax: {
            url: '/products/all/data/get',
            data: function (params) {
                var query = {
                    search: params.term,
                    page: params.page || 1
                }
                // Query parameters will be ?search=[term]&page=[page]
                return query;
            },
            processResults: function (data) {
                // Transforms the top-level key of the response object from 'items' to 'results'
                return {
                    results: data.results
                };
            }
        }
    });
    $(document).on('select2:open', () => {
        document.querySelector('.select2-search__field').focus();
    });

</script>


<!--begin::Page Custom Javascript(used by this page)-->
<script src="/assets/js/myScripts/invoice/print.js"></script>

<script src="/assets/js/myScripts/order/new.js"></script>
<script src="/assets/js/myScripts/order/edit.js"></script>

<!--end::Page Custom Javascript-->